.badge-hero{
    padding: 0.25rem 0.625rem 0.25rem 0.625rem;
    background: rgba(229, 229, 229, 1) !important;
    color: black;
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 0.93rem;
    font-weight: 600;
    line-height: 1.125rem;
    text-align: center;
    max-width: fit-content;

    
}