.hero-btn {
  background-color: $primary;
  color: white;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.hero-btn-outline {
  background-color: white;
  border: 1px solid rgba(20, 33, 61, 1);
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  gap: 10px;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
