.hero-container {
  padding: 4rem 12rem 4rem 12rem;
  gap: 4rem;
  font-family: "Neue Haas Grotesk Display Pro";
  p {
    margin: 0;
  }
}
.headline {
  //styleName: Trafft Landing/H1;
  font-size: 47px;
  font-weight: 600;
  line-height: 56.4px;
  letter-spacing: 0.01em;
  text-align: left;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-plain-text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(20, 33, 61, 1);
}
.btn-info {
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #808a9e;
  padding-top: 8px;
}
