.video-player {
  width: 568px;
  height: 350px;
  cursor: pointer;
  border-radius: 16px;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  cursor: pointer;
}
.video-player-div {
  position: relative;
  display: inline-block;
}
